mixin table-orders(mixes)

  - const { tabs, table } = require('views/components/table-orders/data.js')

  .table-orders(class=(mixes) && `${mixes}__table-orders`)
    
    header.table-orders__header
      p.table-orders__title Фильтр
      .table-orders__filter
        +tags({ tags: tabs }, 'table-orders')
        //- .table-orders__tabs
        //-   each tab, idx in tabs
        //-     button.table-orders__tab(class=(idx === 0 && 'table-orders__tab--active'))= tab
        
        +select({ items: ['Продавец', 'Сергей Епифанцев'] }, 'table-orders')

    .table
      .table__scroll-wrap
        table.table__self.table-orders__self
          thead.table__thead.table-orders__thead
            tr
              td Дата
              td Заказ №
              td Сумма
              td Клиент
              td Тел. клиента
              td Продавец
              td Расчетная дата поставки
              td Статус

          tbody.table__tbody.table-orders__tbody
            each tr in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
              tr(data-href='order.html')
                td= table.date
                td= table.orderNum
                td= table.sum
                td= table.client
                td= table.phone
                td= table.seller
                td= table.deliveryDate
                td= table.status

      footer.table__footer
        .table__select-output
          each val, idx in [10, 25, 50]
            button.table__select-val(class=(idx === 0) && 'table__select-val--active')= val

        .table__pagination
          button.table__btn-prev
            img.table__icon-arrow(src=require('views/components/table/img/i-arrow.svg') alt='Иконка')
          .table__pagination-list
            each val, idx in [1, 2, 3, 4, 5]
              button.table__btn-page(class=(idx === 0) && 'table__btn-page--active')= val
          button.table__btn-next
            img.table__icon-arrow(src=require('views/components/table/img/i-arrow.svg') alt='Иконка')
